

<p>
  <b>Alpha2:</b>
  <%= @country.alpha2 %>
</p>

<p>
  <b>Alpha3:</b>
  <%= @country.alpha3 %>
</p>

<p>
  <b>Num3:</b>
  <%= @country.num3 %>
</p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<p>
  <b>Image:</b>
      <%= image_tag @country.image_url.to_s %>
</p>



<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
